<% provide(:title, "医薬品情報") %>
<% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
<h1>医薬品情報</h1>
<div class="row">
  <div class="col-md-5 col-md-offset-3">
    <%= form_for(@medicine) do |f| %>
      <%= f.label "医薬品名", class: 'text-right col-xs-4 control-label' %>
      <%= f.text_field :name, class: 'col-xs-8' %>

      <%= f.label "タイトル", class: 'text-right col-xs-4 control-label' %>
      <%= f.text_field :title, class: 'col-xs-8'  %>

      <%= f.label "コード", class: 'text-right col-xs-4 control-label' %>
      <%= f.text_field :code, class: 'col-xs-8'  %>

      <%= f.label "報告日", class: 'text-right col-xs-4 control-label' %>
      <%= f.date_field :reported_at, class: 'col-xs-8'  %>
      
      <%= link_to "新規", medicines_new_path, class: "btn btn-primary col-xs-offset-4 col-xs-2" %>
      <%= f.submit "検索", class: "btn btn-primary col-xs-offset-2 col-xs-2" %>
    <% end %>
  </div>
</div>
<div class="container" >
  <%= will_paginate @medicines, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
  <table class="table table-condensed medicines">
    <thead>
      <tr>
        <th>ID</th>
        <th>報告日</th>
        <th>医薬品名</th>
        <th>タイトル</th>
        <th>コード</th>
        <th></th>
      </tr>
    </thead>
      <% @medicines.each do |medicine| %>
        <tbody>
          <tr>
            <th><%= medicine.id %></th>
            <td><%= medicine.reported_at %></td>
            <td><%= medicine.name %></td>
            <td><%= medicine.title %></td>
            <td><%= medicine.code %></td>
            <td><%= link_to "修正", "/medicines/#{medicine.id}/edit", class: 'btn btn-default' %></td>
          </tr>
        </tbody>
      <% end %>
    
  </table>
</div>