<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= form_for (@doubt) do |f| %>

      <%= render 'shared/error_messages_doubt' %>
      <%= f.label "医薬品名", class: 'col-xs-2 control-label' %>
      <%= f.text_field :name, class: 'col-xs-10 form-control', id: 'name' %>

      <%= f.label "タイトル", class: 'col-xs-2 control-label' %>
      <%= f.text_field :title, class: 'col-xs-10 form-control', id: 'title'  %>

      <%= f.label "報告日", class: 'col-xs-2 control-label' %>
      <%= f.date_field :reported_at, class: 'col-xs-10 form-control', id: 'reported_at'  %>

      <%= f.label "医師名", class: 'col-xs-2 control-label' %>
      <%= f.text_field :doctor, class: 'col-xs-10 form-control', id: 'doctor' %>
      
      <%= f.label "詳細", class: 'col-xs-2 control-label' %>
      <%= f.text_area :detail, class: 'col-xs-10 form-control', id: 'detail', size: "60x10" %>

      <%= f.label "報告者", class: 'col-xs-2 control-label' %>
      <%= f.select :report_staff, Staff.all.map{|s| [s.name]}, {include_blank: true}, class: 'col-xs-10 form-control', id: 'report_staff' %>

      <%= f.submit yield(:button_text), class: "btn btn-primary col-xs-offset-5 col-xs-2" %>
    <% end %>
  </div>
</div>