<% provide(:title, "疑義照会") %>
<% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
<h1>疑義照会</h1>
<div class="row">
  <div class="col-md-5 col-md-offset-3">
    <%= form_for @doubt, url: '/doubts/filter', html: {method: 'get'} do |f| %>
      <%= f.label "医薬品名", class: 'text-right col-xs-4 control-label' %>
      <%= f.text_field :name, class: 'col-xs-8', id: 'name' %>

      <%= f.label "タイトル", class: 'text-right col-xs-4 control-label' %>
      <%= f.text_field :title, class: 'col-xs-8', id: 'title' %>

      <%= f.label "報告日", class: 'text-right col-xs-4 control-label' %>
      <%= f.date_field :reported_at, class: 'col-xs-8', id: 'reported_at' %>

      <%= f.label "医師名", class: 'text-right col-xs-4 control-label' %>
      <%= f.text_field :doctor, class: 'col-xs-8', id: 'doctor' %>

      <%= f.label "詳細", class: 'text-right col-xs-4 control-label' %>
      <%= f.text_field :detail, class: 'col-xs-8', id: 'detail' %>

      <%= f.label "報告者", class: 'text-right col-xs-4 control-label' %>
      <%= f.select :report_staff, Staff.all.map{|s| [s.name]}, {}, class: 'col-xs-8', id: 'report_staff' %>

      <%= link_to "新規", doubts_new_path, class: "btn btn-primary col-xs-offset-4 col-xs-2" %>
      <%= f.submit "検索", class: "btn btn-primary col-xs-offset-2 col-xs-2" %>
    <% end %>
  </div>
</div>
<div class="container" >
  <%= will_paginate @doubts, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
  <table class="table doubts-data table-bordered">
    <thead>
      <tr>
        <th class="col-xs-3">医薬品 / タイトル</th>
        <th class="col-xs-2">報告者 / 報告日</th>
        <th class="col-xs-2">医師名</th>
        <th class="col-xs-4">詳細</th>
        <th class="col-xs-1"></th>
      </tr>
    </thead>
      <% @doubts.each do |doubt| %>
        <tbody>
          <tr>
            <td><%= doubt.name %></td>
            <td><%= doubt.report_staff %></td>
            <td rowspan="2" ><%= doubt.doctor %></td>
            <td rowspan="2" class="position-left"><%= doubt.detail %></td>            
            <td rowspan="2">
              <%= link_to "修正", "/doubts/#{doubt.id}/edit", class: 'btn btn-default btn-xs' %> 
              <%= link_to "削除", "/doubts/#{doubt.id}/destroy", method: :delete,
              class: 'btn btn-default btn-xs', id: "destroy_#{doubt.id}", data: {confirm: '削除してもよろしいですか?'} %>
            </td>
          </tr>
          <tr>
            <td><%= doubt.title %></td>
            <td><%= doubt.reported_at %></td>
          </tr>
        </tbody>
      <% end %>
  </table>
</div>