   <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <%= link_to "医薬品情報管理システム", '/medicines', id: "logo" %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "DI情報", '/medicines' %></li>
          <li><%= link_to "副作用情報", '/reactions' %></li>
          <li><%= link_to "疑義照会", '#' %></li>
          <li><%= link_to "マスタ管理", '/masters' %></li>
        </ul>
      </nav>
    </div>
  </header> 